body{
background:#020617;
color:white;
font-family:Arial;
padding:30px;
}

table{
border-collapse:collapse;
width:80%;
}

td,th{
border:1px solid #555;
padding:10px;
}

button{
padding:10px 20px;
font-size:16px;
cursor:pointer;
}

.swiper{
width:600px;
height:400px;
}

.swiper{width:700px;height:400px;margin:auto}
canvas{cursor:pointer}

.modal{
display:none;
position:fixed;
top:0;left:0;
width:100%;height:100%;
background:rgba(0,0,0,0.8);
}

.modal-content{
background:#111;
margin:5% auto;
padding:20px;
width:80%;
}
