body{
background:#020617;
color:white;
font-family:Arial;
padding:20px;
text-align:center;
}

/* ---------- TABLE ---------- */

.table-container{
display:flex;
justify-content:center;
margin-top:30px;
}

table{
border-collapse:collapse;
width:70%;
background:#0f172a;
}

td,th{
border:1px solid #555;
padding:12px;
}

.primary-btn{
padding:12px 24px;
font-size:16px;
margin-top:20px;
cursor:pointer;
}

/* ---------- CAROUSEL ---------- */

.swiper{
width:1100px;
height:500px;
margin:40px auto;
}

.card{
background:#0f172a;
padding:25px;
border-radius:14px;
display:flex;
flex-direction:column;
align-items:center;
gap:15px;
}

canvas{
width:320px !important;
height:220px !important;
background:white;
border-radius:8px;
}

/* ---------- MODAL ---------- */

.modal{
display:none;
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
background:rgba(0,0,0,0.85);
}

.modal-content{
background:#0f172a;
margin:3% auto;
padding:25px;
width:90%;
max-width:1400px;
border-radius:12px;
}

.modal-grid{
display:grid;
grid-template-columns:3fr 1fr;
gap:30px;
}

#modalChart{
width:100% !important;
height:600px !important;
background:white;
}

#dataTable{
border-collapse:collapse;
width:100%;
}

#dataTable td,#dataTable th{
border:1px solid #555;
padding:10px;
}

.close{
cursor:pointer;
font-size:26px;
}
