body{
background:#020617;
color:white;
font-family:Arial;
padding:20px;
text-align:center;
}

/* ---------- CAROUSEL ---------- */

.swiper{
width:1000px;
height:450px;
margin:40px auto;
}

.swiper-slide{
display:flex;
justify-content:center;
align-items:center;
background:#0f172a;
border-radius:12px;
}

/* small graph cards */
canvas{
width:350px !important;
height:250px !important;
cursor:pointer;
background:white;
border-radius:8px;
}

/* ===============================
MODAL
=============================== */

.modal{
display:none;
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
background:rgba(0,0,0,0.85);
z-index:999;
}

.modal-content{
background:#0f172a;
margin:3% auto;
padding:25px;
width:95%;
max-width:1400px;
border-radius:12px;
}

/* big graph + table layout */
.modal-grid{
display:grid;
grid-template-columns:3fr 1fr;
gap:30px;
align-items:start;
}

/* BIG GRAPH */
#modalChart{
width:100% !important;
height:600px !important;
background:white;
border-radius:8px;
}

/* TABLE */
#dataTable{
border-collapse:collapse;
width:100%;
background:#020617;
}

#dataTable th,#dataTable td{
border:1px solid #555;
padding:10px;
text-align:center;
}

.close{
cursor:pointer;
float:right;
font-size:26px;
}
