<!DOCTYPE html>
<html>
<head>
<title>Insights</title>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

<link rel="stylesheet" href="/static/style.css">
</head>

<body>

<h1>Insights</h1>

<div class="swiper">
<div class="swiper-wrapper">

<div class="swiper-slide"><canvas id="keygen"></canvas></div>
<div class="swiper-slide"><canvas id="encrypt"></canvas></div>
<div class="swiper-slide"><canvas id="total"></canvas></div>

</div>
</div>

<script src="/static/app.js"></script>

</body>
</html>
